################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Octokit.0.23.0
/TerraJump/packages.config
/TerraJump/obj/
/TerraJump/bin/
/.vs/
